@use '../base/colors' as colors;
@use '../base/mixins' as mixins;

.kasa-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px 0px 90px;
  @include mixins.media-queries(colors.$mobile) {
    padding: 0px 20px 0px 20px;
    justify-content: left;
  }

  .kasa-banner-img {
    height: 223px;
    width: 100%;
    object-fit: cover;
    position: relative;
    border-radius: 25px;
    filter: brightness(40%);
    box-shadow: 0px 1px 5px 0px;
    color: colors.$background;
  }

  .kasa-title {
    position: absolute;
    color: colors.$white;
    font-weight: 700;
    font-size: 48px;
    @include mixins.media-queries(colors.$mobile) {
      font-size: 30px;
      padding-left: 20px;
    }
  }
}
